- content_for :featured do
  .header
    .message
      %h2
        Edit your account
      %p
        On this page you can specify an email address and password to login to your account. Don't worry - we won't spam you... much.
- content_for :leftcolumn do
  - [:success, :error].each do |message_type|
    - if flash[message_type]
      %div{:class => message_type}
        = flash[message_type]
  - if current_user.errors.any?
    %ul.errors
      - current_user.errors.each do |field, error|
        %li #{field.titleize} #{error}
  - form_for current_user do |f|
    %ul
      %li.forminput{:class => error_class_for(current_user, :email)}
        %ul
          %li.formleft
            = f.label :email
          %li.formright
            = f.text_field :email

      %li.forminput{:class => error_class_for(current_user, :password)}
        %ul
          %li.formleft
            = f.label :password, "New password"
          %li.formright
            = f.password_field :password

      %li.forminput{:class => error_class_for(current_user, :website)}
        %ul
          %li.formleft
            = f.label :website, "Website address"
          %li.formright
            = f.text_field :website

      %li.forminput{:class => error_class_for(current_user, :blog)}
        %ul
          %li.formleft
            = f.label :blog, "Blog address"
          %li.formright
            = f.text_field :blog
      %li
        = f.submit 'Save changes', :class => 'button'
