- content_for :featured do
  .header
    .message
      %h2
        My Account
      %p
        On this page you can specify an email address and password to login to your account. Don't worry - we won't spam you... much.
        You can also get your API token for using Vurl.me with third-party applications.
- content_for :leftcolumn do
  %h2 Edit account details
  - form_for current_user, :url => user_path do |f|
    %ul
      %li.forminput{:class => error_class_for(current_user, :name)}
        %ul
          %li.formleft
            = f.label :name
          %li
            = f.text_field :name

      %li.forminput{:class => error_class_for(current_user, :email)}
        %ul
          %li.formleft
            = f.label :email
          %li.formright
            = f.text_field :email

      %li.forminput{:class => error_class_for(current_user, :password)}
        %ul
          %li.formleft
            = f.label :password, "New password"
          %li.formright
            = f.password_field :password

      %li.forminput{:class => error_class_for(current_user, :website)}
        %ul
          %li.formleft
            = f.label :website, "Website address"
          %li.formright
            = f.text_field :website

      %li.forminput{:class => error_class_for(current_user, :blog)}
        %ul
          %li.formleft
            = f.label :blog, "Blog address"
          %li.formright
            = f.text_field :blog
      %li
        = f.submit 'Save changes', :class => 'button'
  %h2 API key
  %p
    You can use your API key when shortening URLs from third-party applications to add them to your history &ndash; just add your URL to this location:
  %h4 With JSON
  .shorten_url
    http://vurl.me/shorten.json?api_token=#{current_user.api_token}&url=YOUR_URL
  %h4 With plain HTML
  .shorten_url
    http://vurl.me/shorten?api_token=#{current_user.api_token}&url=YOUR_URL

