- vurl = summary_without_stats_link
%ul.team
  %li.member
    %ul
      %li.member-thumb
        = link_to image_tag(vurl.screenshot.url), vurl.screenshot.url(:full)
      %li.member-name= link_to vurl.title, vurl.url
      %li.member-position
        == #{vurl.total_clicks} total clicks &bull;
        == #{vurl.clicks_count(current_period_ago)} in the last #{current_period}
      %li.member-info= vurl.description
