- vurl = summary
%ul.team
  %li.member
    %ul[vurl]
      %li.member-thumb
        = render partial: 'screenshot', locals: {:vurl => vurl}
      %li.member-name
        = render partial: 'title', locals: {:vurl => vurl}
      %li.member-position
        = render partial: 'user_summary', locals: {:user => vurl.user}
        #{time_ago_in_words(vurl.created_at)} ago
        %br
        #{vurl.total_clicks} total clicks
        &bull; #{vurl.clicks_count(current_period_ago)} in the last #{current_period}
        - if current_user.admin?
          &bull;
          = link_to "Flag as spam", flag_as_spam_vurl_path(vurl)
        - if display_stats_link?
          &bull; #{link_to 'View stats', stats_path(vurl.slug)}
        &bull; #{clippy(redirect_url(vurl.slug))}
      %li.member-info
        = render partial: 'description', locals: {:vurl => vurl}
