- vurl = summary
%ul.team
  %li.member
    %ul[vurl]
      %li.member-thumb
        = render :partial => 'screenshot', :locals => {:vurl => vurl}
      %li.member-name
        = render :partial => 'title', :locals => {:vurl => vurl}
      %li.member-position
        == #{vurl.total_clicks} total clicks
        == &bull; #{vurl.clicks_count(current_period_ago)} in the last #{current_period}
        - if display_stats_link?
          == &bull; #{link_to 'View stats', stats_path(vurl.slug)}
      %li.member-info
        = render :partial => 'description', :locals => {:vurl => vurl}
