- content_for :seo_data do
  %meta{:type => 'keywords', :content => 'shorten url vurl long tinyurl rubyurl is.gd bit.ly ruby rails'}
  %meta{:type => 'description', :content => 'Vurl shortens your lengthy URLs'}
= error_messages_for :vurl
.span-18{:style => 'padding-top:30px;'}
- form_for(@vurl) do |f|
  .span-18.last
    = f.text_field :url
  .span-18.button_container.last
    = f.submit "Vurlify!", :class => 'button right'
    = link_to "I'm Feeling Lucky", random_vurls_path, :class => 'lucky_link button left'
.recent_popular.span-18.last
  .recent_popular_header
    popular this week
  %dl
    - @recent_popular_vurls.each do |vurl|
      %dt
        = link_to vurl.title, vurl.url
      %dd
        %span.small
          = link_to pluralize(vurl.clicks_count, 'click'), stats_path(vurl.slug)
