<h1>New vurl</h1>

<%= error_messages_for :vurl %>

<% form_for(@vurl) do |f| %>
  <p>
    <b>Url</b><br />
    <%= f.text_field :url %>
  </p>

  <p>
    <b>Slug</b><br />
    <%= f.text_field :slug %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vurls_path %>
