= error_messages_for :vurl
.span-18{:style => 'padding-top:40px;'}
- form_for(@vurl) do |f|
  .span-3 &nbsp;
  .span-12
    URL:
    = f.text_field :url
    = f.submit "Vurlify!"
    = link_to "I'm Feeling Lucky", random_vurls_path, :class => 'lucky_link'
  .span-3.last &nbsp;
.span-18.last &nbsp;
.span-3 &nbsp;
.span-3 Most Popular Vurls:
.span-12.last
  %ul
    - Vurl.most_popular.each do |vurl|
      %li.most_popular_vurl
        = link_to vurl.title, vurl.url
        %span.small
          == (#{vurl.click_count} clicks)
  .last
