- content_for :seo_data do
  %meta{type: 'keywords', content: 'shorten url vurl long tinyurl rubyurl is.gd bit.ly ruby rails'}
  %meta{type: 'description', content: 'Vurl shortens your lengthy URLs'}
- content_for :featured do
  .header
    .message
      %h2 Not Found
      %p
        The vurl you entered could not be found.  If you feel this is an error, please
        = mail_to 'mremsik@gmail.com', 'contact Veez'
        and let him know what's up.
        You can also check below for other things to do on the site.

- content_for :leftcolumn do
  %h2 Other actions that might help
  %p While you're here, why don't you try the I'm Feeling Lucky feature? It will redirect you to a random vurl from the archives. You may also want to create a new vurl.
  %ul
    %li= link_to 'Create a new vurl', new_vurl_path
    %li= link_to "I'm Feeling Lucky", random_vurls_path, class: 'lucky_link'

  %h2 All-time most popular vurls
  = render partial: 'summary', collection: most_popular_vurls

  %h2.team== Popular vurls in the last #{popular_period_links}
  = render partial: 'summary', collection: recent_popular_vurls
