#vurls_show_container
  - content_for :seo_data do
    = render :partial => 'seo_data', :locals => {:vurl => @vurl}
  = render :partial => 'title', :locals => {:vurl => @vurl}
  .field_name.span-3
    Original URL:
  .field_value.span-13.last
    = link_to h(@vurl.url), @vurl.url
  .field_name.span-3
    Vurlified URL:
  .field_value.span-13.last
    = link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug)
  = render :partial => 'clicks', :locals => {:vurl => @vurl}
#video_ads.span-16.last{:style => 'padding-top:15px;'}
  = render :partial => 'text_ads.html.erb'
