#vurls_show_container
  - content_for :seo_data do
    = render :partial => 'seo_data', :locals => {:vurl => @vurl}
  = render :partial => 'title', :locals => {:vurl => @vurl}
  %div{:class => "span-3 field_name"}
    Original URL:
  %div{:class => "span-13 last field_value"}
    = link_to h(@vurl.url), @vurl.url
  %div{:class => "span-3 field_name"}
    Vurlified URL:
  %div{:class => "span-13 last field_value"}
    = link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug)
  = render :partial => 'clicks', :locals => {:vurl => @vurl}
#video_ads{:class => 'span-16 last', :style => 'padding-top:15px;'}
  = render :partial => 'text_ads.html.erb'
