- content_for :seo_data do
  = render :partial => 'seo_data'
- content_for :featured do
  .contentdiv
    .header
      .message
        %h2 This is your vurl's stats page
        %p
          On this page you can see in real time when people click your vurl or when your vurl hits twitter. Share your vurl by clicking the icon next to your new vurl, or right-clicking it and selecting 'Copy Link'.
        .share
          Your new vurl:
          = link_to redirect_url(current_vurl.slug), redirect_url(current_vurl.slug)
          = clippy(redirect_url(current_vurl.slug))
- content_for :leftcolumn do
  - if current_vurl.flagged_as_spam?
    %h2{:style => 'color: #C00;'} Flagged as spam
    %p#spam_warning
      Your vurl has been flagged as spam by the system. Your links will continue to work like you expect them to, but your vurl will be excluded from tweets made by the site and the list of popular vurls. If you feel this is incorrect, please #{mail_to "mremsik@gmail.com", "contact Veez"} and we'll look into your situation.
  %h2 Share your vurl
  %p
    Click the icon next to your new vurl to automatically copy it to the clipboard. Or, right-click the link to your vurl and select 'Copy Link'.
  .share
    Your new vurl:
    = link_to redirect_url(current_vurl.slug), redirect_url(current_vurl.slug)
    = clippy(redirect_url(current_vurl.slug))
  %h2 Summary of your vurl
  = render :partial => 'summary', :object => current_vurl
  %h2.team
    Real-time clicks for the last
    = link_to_period 'hour'
    |
    = link_to_period 'day'
    |
    = link_to_period 'week'
  %p Watch as folks on the web click your vurl! The chart below will update every few seconds, showing the number of clicks your vurl receives.
  #clicks_chart.chart
    %strong
      Loading real-time click chart
    %p
      If you don't see a chart, you probably need to install or update Adobe Flash. Contact Veezus if you have questions.
  = render :partial => 'real_time_clicks_include'
