#vurls_show_container.span-16.last
  - content_for :seo_data do
    = render :partial => 'seo_data', :locals => {:vurl => @vurl}
  = render :partial => 'title', :locals => {:vurl => @vurl}

  .field_name.span-3
    Original URL:
  .field_value.span-8
    = h @vurl.url
  .span-5.last
    = link_to 'New vurl', new_vurl_path

  .field_name.span-3
    Vurlified URL:
  .field_value.span-13.last
    = link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug), :id => 'vurlified_url'
    = clippy(redirect_url(@vurl.slug))

  .field_name.span-3
    Preview link:
  .field_value.span-13.last
    = link_to preview_url(@vurl.slug), preview_url(@vurl.slug)
    = clippy(preview_url(@vurl.slug))

  = render :partial => 'clicks', :locals => {:vurl => @vurl}

#video_ads.span-16.last{:style => 'padding-top:15px;'}
  = render :partial => 'text_ads.html.erb'
