#vurls_show_container.span-13
  - content_for :seo_data do
    = render :partial => 'seo_data', :locals => {:vurl => @vurl}

  #vurl_link.field_name.span-13.last
    Your new vurl is...
  #vurl_link.field_value.span-13.last
    = link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug)
    = clippy(redirect_url(@vurl.slug))

  #stats_link.field_name.span-13.last
    View your stats at...
  #stats_link.field_value.span-13.last
    = link_to stats_url(@vurl.slug), stats_url(@vurl.slug)
    = clippy(stats_url(@vurl.slug))

  .field_name.span-13.summary.last{:style => 'margin-top:40px;'}
    Your original link to
    = link_to @vurl.title.present? ? @vurl.title : @vurl.url, @vurl.url
    has been clicked
    %span.click_count
      = @vurl.clicks_count
      times.

  .span-13.last{:style => 'margin-top:40px;'}
    .field_name
      Real-time updates for last
      = link_to_period 'hour'
      = link_to_period 'day'
      = link_to_period 'week'
    %p The chart below shows real-time clicks over the last #{current_period} and will update every few seconds.
    #clicks_chart.chart
      %strong
        Loading real-time click chart
      %p
        If you don't see a chart, you probably need to install or update Adobe Flash. Contact Veez if you have questions.


#vurls_show_vertical_ad.span-5.last
  %script{ :type => "text/javascript" }
    /
      google_ad_client = "pub-7786221017043842";
      \/* 160x600, created 7/24/09 */
      google_ad_slot = "1026335280";
      google_ad_width = 160;
      google_ad_height = 600;
  %script{ :type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js" }

= render :partial => 'real_time_clicks_include'
