#vurls_show_container.span-13
  - content_for :seo_data do
    = render :partial => 'seo_data', :locals => {:vurl => @vurl}

  #vurl.field_name.span-13.last
    Your new vurl is...
  #vurl.field_value.span-13.last
    = link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug)
    = clippy(redirect_url(@vurl.slug))

  .video_ads.span-13.last
    = render :partial => 'text_ads.html.erb'

  = render :partial => 'title', :locals => {:vurl => @vurl}

  .field_name.span-4
    Original URL
  .field_value.span-9.last
    = h @vurl.url

  .field_name.span-4
    Statistics link
  .field_value.span-9.last
    = link_to stats_url(@vurl.slug), stats_url(@vurl.slug)
    = clippy(stats_url(@vurl.slug))

  = render :partial => 'clicks', :locals => {:vurl => @vurl}

  .span-13
    #clicks_chart.chart
      %strong
        Text displayed when the user doesn't have Flash. You might want to display a simple table with the population, search engines and visitor without flash would love that.
      %p
        To see this page properly, you need to upgrade your Flash Player, please visit the Adobe web site


#vurls_show_vertical_ad.span-5.last
  %script{ :type => "text/javascript" }
    /
      google_ad_client = "pub-7786221017043842";
      \/* 160x600, created 7/24/09 */
      google_ad_slot = "1026335280";
      google_ad_width = 160;
      google_ad_height = 600;
  %script{ :type => "text/javascript", :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js" }

.video_ads.span-13.last{:style => 'padding-top:15px;'}
  = render :partial => 'text_ads.html.erb'

= render :partial => 'clicks_include'
