<p>
  <b>Url:</b>
  <%=h @vurl.url %>
</p>

<p>
  <b>Slug:</b>
  <%=h @vurl.slug %>
</p>

<p>
  <b>Link:</b>
  <%= link_to redirect_url(@vurl.slug), redirect_url(@vurl.slug) %>
</p>


<%= link_to 'Edit', edit_vurl_path(@vurl) %> |
<%= link_to 'Back', vurls_path %>
