!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title
      Vurls:
      = controller.action_name
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'screen.css', :media => 'screen'
    = stylesheet_link_tag 'print.css',  :media => 'print'
  %body
    .span-1
      &nbsp;
    #page_container{:class => 'span-16 last'}
      #header_container.span-16
        %div{:class => 'span-16 bottom_border'}
          %div{:class => 'span-10 title_size'} vurl.me
          .span-3
            = link_to 'Home', root_path
          .span-3
            = link_to 'New vurl', new_vurl_path
      #body_container
        %p{ :class => "flash" }
          = flash[:notice]
        = yield
    .span-1
      &nbsp;
