!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    = yield :seo_data
    %title
      == Vurl.me: #{page_title}
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'screen.css', :media => 'screen'
    = stylesheet_link_tag 'print.css',  :media => 'print'
    = javascript_include_tag %w(jquery-1.3.2 jquery.simpletip-1.3.1 /amcolumn/swfobject)
    = javascript_include_tag %w(application)
  %body
    .wrapper
      #page_container.span-18.last
        #header_container.span-18.last
          = link_to "", new_vurl_path, :id => 'logo_link'
        #body_container.span-18.last
          %p.flash
            = flash[:notice]
            = flash[:error]
          = yield
        #footer_container.span-18.last
          .js_widget.span-9
            #bookmarklet
              .text
                bookmarklet
              .button
                = link_to image_tag('bookmarklet.png'), "javascript:void(location.href='#{new_vurl_url}?url='+encodeURIComponent(location.href))", :id => 'target'
              .help
                What is this?
          .span-9.last
            .feedback
              Questions? Comments?
              = mail_to 'mremsik@gmail.com', 'Contact Veez'
          #sponsors.span-18.last
            .sponsor= link_to image_tag('hashrocket.png'), 'http://hashrocket.com/'
            .sponsor= link_to image_tag('veez.png'), 'http://mattremsik.com/'
            .sponsor= link_to image_tag('ruby_trends.gif'), 'http://rubytrends.com/styles/project/trends/371'

      %script{ :type => "text/javascript" }
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        try {
        var pageTracker = _gat._getTracker("UA-7239606-1");
        pageTracker._trackPageview();
        } catch(err) {}
