!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }/
    %title
      Vurls:
      = controller.action_name
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'screen.css'
  %body
    %p{ :style => "color: green" }
      = flash[:notice]
    = yield
